.container {
    padding-top: 20px;
    border-top: 1px solid var(--milky);
    margin-bottom: 24px;
}

.slide {
    background: var(--milky);
    padding: 14px;
    border-radius: 12px;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    font-weight: 600;
    font-size: 16px;
}

.rating {
    font-weight: 500;
    font-size: 16px;
}

.slide p {
    font-size: 14px;
    line-height: 136%;
    letter-spacing: 0.04em;
}
