.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 24px 24px 0 0;
    background: var(--milky-app);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    height: calc(100% - 100px);
    right: 0;
    left: 0;
    bottom: 0;
}

.content {
    width: 100%;
    padding: 0 24px 24px 24px;
    margin: 0 auto;
    overflow: auto;
}

.thumb {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: rgba(60, 60, 67, 0.3);
    border-radius: 9999px;
    flex-shrink: 0;
    width: 80px;
    height: 5px;
    top: 8px;
}

.button {
    position: absolute;
    top: 0;
}

.title {
    font-size: 32px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.02em;
    margin-top: 37px;
    margin-bottom: 8px;
}

.categories {
    font-weight: 500;
    font-size: 14px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.middle {
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--milky);
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 111%;
    letter-spacing: 0.03em;
    color: #151515;
    margin-bottom: 15px;
}

.description {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--milky);
    line-height: 125%;
    letter-spacing: 0.03em;
}
